# OS X specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# Sensitive config information
*.cfg

# Python
*.py[cod]

# PyCharm
.idea
.iml

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
